@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

::selection {
    color: white;
    background-color: #4fad62;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(160deg, #4fad62, #02aa6c);
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, #61d377, #02aa6c);
    animation: backgroundAnimation 1s infinite linear;
    z-index: -1;
    -webkit-animation: backgroundAnimation 1s infinite linear;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-content {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    width: 329px;
    padding: 12px 44px;
}

.card-form {
    letter-spacing: 1px;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.card-form header {
    display: flex;
    flex-direction: column;
}

.card-form h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #02aa6c;
    font-family: 'Lilita One', sans-serif;
}

.card-form .underline-title {
    background: linear-gradient(90deg, #a6f77b, #02aa6c);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

.card-form a {
    text-decoration: none;
}

.card-form .form-content label {
    font-weight: bold;
    font-size: 11px;
    text-align: left;
}

.form-content .wrap-link-pw .show-pass {
    color: #4fad62;
    font-size: 11px;
    margin-top: 3px;
    text-align: right;
    border: none;
    background: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.form-content .wrap-link-pw .show-pass:hover {
    color: #97f564;
}

.form-border {
    background: linear-gradient(90deg, #a6f77b, #02aa6c);
    height: 2px;
    width: 100%;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

.form-group input {
    width: 100%;
    margin-top: -20px;
    padding-bottom: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
}

.card-form footer {
    display: flex;
    flex-direction: column;
}

.card-form footer .signup {
    color: #4fad62;
    font-size: 10px;
    margin-top: 16px;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.card-form footer .signup:hover {
    color: #97f564;
}

.card-form footer .submit-btn {
    background: linear-gradient(90deg, #1bff48, #00961e);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 5px #4fad62;
    cursor: pointer;
    color: white;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    width: 190px;
    background-size: 150%;
}

@keyframes btn-gradient {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}

.card-form footer .submit-btn:hover {
    animation: btn-gradient 70ms infinite alternate;
    box-shadow: 0px 1px 10px #4fad62;
    -webkit-animation: btn-gradient 70ms infinite alternate;
    -webkit-animation: btn-gradient 70ms infinite alternate;
}

/* CSS - Remember Me Checkbox */
#rememberMe {
    display: none; /* Sembunyikan checkbox default */
}
#rememberMe + label {
    font-size: 14px;
    color: #555;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #4fad62;
    font-size: 11px;
    margin-top: 3px;
    text-align: right;
    border: none;
    background: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#rememberMe + label:before {
    content: "";
    display: inline-block;
    width: 10px; /* Sesuaikan ukuran dengan font-size label */
    height: 10px; /* Sesuaikan ukuran dengan font-size label */
    border: 1px solid #555;
    border-radius: 3px;
    position: absolute;
    left: -15px;
    top: 3px; /* Sesuaikan posisi vertikal dengan font-size label */
}
#rememberMe:checked + label:before {
    background-color: #007bff;
}
#rememberMe + label:after {
    content: "\2713"; /* Tanda centang */
    font-size: 14px;
    color: #fff;
    position: absolute;
    left: 4px;
    top: 3px; /* Sesuaikan posisi vertikal dengan font-size label */
    display: none;
}
#rememberMe:checked + label:after {
    display: block;
}