@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

::selection {
    color: white;
    background-color: #4fad62;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: linear-gradient(160deg, #4fad62, #02aa6c);
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(160deg, #4fad62, #02aa6c);
    z-index: -1;
    animation: gradientAnimation 1s ease infinite;
    -webkit-animation: gradientAnimation 1s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-content {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    padding-top: 45px!important;
    height: 440px;
    width: 329px;
    margin: 3rem auto 8.1rem auto;
    padding: 12px 44px;
    position: relative;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
}


.card-content .alert {
    position: absolute;
    margin-top: -137px!important;
    width: 150px;
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.card-content .card-form {
    letter-spacing: 1px;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.card-form header {
    display: flex;
    flex-direction: column;
}

.card-form h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #02aa6c;
    font-family: 'Lilita One', sans-serif;
}

.card-form .underline-title {
    background: linear-gradient(90deg, #a6f77b, #02aa6c);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

.card-form .wrap-link-pw {
    text-decoration: none;
}

.card-form .form-content label {
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}


/* Tampilan opsi yang dipilih */
.input-jabatan option:checked {
    background-color: #a6f77b; /* warna latar belakang opsi yang dipilih */
}

/* Tampilan dropdown */
.input-jabatan {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
    width: 100%;
    padding: 15px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    cursor: pointer;
    margin-left: -8px;
    font-family: "Open Sans", sans-serif;
}

select {
    /* Styling untuk tanda panah kebawah */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    /* Padding dan border */
    padding: 8px 0 8px 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;

    /* Ubah warna tanda panah kebawah */
    background-image: linear-gradient(45deg, transparent 50%, #02aa6c 50%), linear-gradient(135deg, #02aa6c 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}


/* .input-jabatan:focus {
    border-color: #a6f77b; 
    box-shadow: 0 0 5px #02aa6c; 
    outline: none; 
}
 */

.form-border {
    background: linear-gradient(90deg, #a6f77b, #02aa6c );
    height: 2px;
    width: 100%;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

.form-group input {
    width: 100%;
    margin-top: -20px;
    padding-bottom: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
}

.password-input {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #02aa6c;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.card-form footer {
    display: flex;
    flex-direction: column;
}

.card-form footer .submit-btn {
    background: linear-gradient(90deg, #1bff48, #00961e);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 5px #4fad62;
    cursor: pointer;
    color: white;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    width: 190px;
    background-size: 150%;
}

@keyframes btn-gradient {
    from {
        background-position: right;
    }
    to {
        background-position: left;
    }
}

.card-form footer .submit-btn:hover {
    box-shadow: 0px 1px 10px #4fad62;
    animation: btn-gradient 70ms infinite alternate;
    -webkit-animation: btn-gradient 100ms infinite alternate;
    -webkit-animation: btn-gradient 70ms infinite alternate;
}

.card-form footer .signin {
    text-decoration: none;
    color: #4fad62;
    font-size: 10px;
    margin-top: 16px;
    text-align: center;
    transition: color 0.3s;
}

.card-form footer .signin:hover {
    color: #8ae8a1;
}

/*  MODAL */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
    z-index: 9999; /* Atur z-index modal agar lebih tinggi dari z-index elemen lain */
}

.modal:target {
    display: table;
    position: absolute;
}

.modal-dialog {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100vh;
    width: 100vw;
    z-index: 10000; /* Atur z-index modal-dialog agar lebih tinggi dari z-index elemen lain */
}

.modal-dialog > .modal-content {
    display: inline-block;
    margin: 0 auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px solid #777;
    text-align: left;
    max-width: 80%;
    width: 400px;
    border-radius: 8px;
    animation: example 0.5s;
    -webkit-animation: example 0.5s;
    box-shadow: 0 0 10px 1px #c0bfbf;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

@keyframes example {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.btn-close {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.btn-close:hover {
    color: #000;
    cursor: pointer;
}

.container-modal {
    padding: 2px 16px;
}

.container-modal {
    background-color: #8ae8a1;
    text-align: center;
}

.container-modal {
    background-color: #8ae8a1;
    text-align: center;
}

.modal {
    display: none;
}

.show-modal {
    display: block;
}

.btnSilahkan {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btnSilahkan:hover {
    background-color: #45a049;
}